      <div id='id-alerts' class='row'>
        <div id='alert-fail' class="alert alert-danger alert-dismissible col-md-12" role="alert" style="display:none;">
          <div id='fail-message'></div>
          <button id='close_fail' type="button" class="close"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>          
        </div>
        <div id='alert-success' class="alert alert-success alert-dismissible col-md-12" role="alert" style="display:none;">
          <div id='success-message'></div>
          <button id='close_success' type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>          
        </div>
      </div>
