<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><%-__('OpenTrade')%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><%-__('Trade')%></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% var key = ''; try{if (status.active) key = status.token || '';}catch(e){}%>
            <% if (!key.length) {%><% include ../partials/nav_not_logged %><% }%>
            <% if (key.length) {%><%  include ../partials/nav_logged %><% }%>
        </ul>
    </div>
</nav>
