  <head>
    <script>
      var debug = <%-debug%>;
      if (!debug && window.location.protocol != "https:" && window.location.protocol != "file:")
          window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%-__('OpenTrade - Open Source Cryptocurrency Exchange')%></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
    
    <script>
      'use strict';
    
      const SHARE = JSON.parse('<%-JSON.stringify(share)%>');
      
      var grecaptcha;
      if (!SHARE.recaptchaEnabled) grecaptcha = null;
      
      const PORT_SSL = SHARE.my_portSSL;
      const MAIN_COIN = SHARE.TRADE_MAIN_COIN;
      const DEFAULT_PAIR = SHARE.TRADE_DEFAULT_PAIR;
      const TRADE_COMISSION = SHARE.TRADE_COMISSION;
    </script>
    <script src='/js/utils.js'></script>

  </head>
