            <li class="navbar-item">
              <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i><%-__(' Login')%></a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/signup"><i class="fas fa-user-plus"></i><%-__(' Sign Up')%></a>
            </li>
