<!DOCTYPE html>
<html lang="en">
    
    <% include ../../partials/head %>
  <body>

    <% include ../../partials/header %>


    <div id='new_password' class="container">
        <% include ../../partials/alerts %>
      <div id='first-step' class="row">
        <div class="offset2 col-md-6">
            <h2><%= message%></h2>
            <form method="post" id='password_reset_form' action="/password_reset">
                <input name='check' type='hidden' value='<%= strCheck%>'>
                <input name='checked-email' type='hidden' value='<%= email%>'>
                <div <% var style = ''; if (error) style = 'style="display:none;"'%> <%- style%>>
                    <div id="signup_password1" class="form-group">
                        <label for="id_password1" class="control-label  requiredField">New password<span class="asteriskField">*</span> </label>
                        <input class="textinput textInput form-control" id="id_password1" name="password1" type="password" required>
                        <div class="invalid-feedback">This field is required.</div>
                    </div>
                    <div id="signup_password2" class="form-group">
                        <label for="id_password2" class="control-label  requiredField">New password (again)<span class="asteriskField">*</span> </label>
                        <input class="textinput textInput form-control" id="id_password2" name="password2" type="password" required> 
                        <div class="invalid-feedback">The two password fields didn\'t match.</div>
                    </div>
                    <p>
                        <button id='button_reset' class="btn btn-success" >Update password</button>
                    </p>
                </div>
            </form>
        </div>
      </div>
      <div id='second-step-success' class="row" style="display:none;">
        <div class="offset2 col-md-6">
            <h2>Success!</h2>
            <p>Your password is changed
        </div>
      </div>
      <div id='second-step-error' class="row" style="display:none;">
        <div class="offset2 col-md-6">
            <h2>Something wrong ((</h2>
            <p>Please try again.
        </div>
      </div>
    </div> <!-- /container -->


    <% include ../../partials/footer %>
    <script src='/js/password_reset.js'></script>
  </body>
</html>
