# SQLite Database
/server/database/sqlite.db
*.db

# Node Modules
node_modules/

# Certificates
*.key
*.crt

# Others
/server/modules/private_constants.js
*.log
*.py
*.out

accountsserver/*

server/modules/private_constants.js
server/constants.js
databaseServer/constants.js
