<!DOCTYPE html>
<html lang="en">
    
    <% include ../../partials/head %>
  <body>

    <% include ../../partials/header %>
    <div id="loader" style="display:none;"></div>

    <div class="container pt-2">
      <% include ../../partials/alerts %>
      <div class="row">
        <div class="offset2 col-md-6">
          <div id="register-body">
            <h2 id="register_header">Profile</h2>
            <form id="profile-form" class="paper-form" action="/profile" method="post">
              <div id="profile_username" class="form-group">
                <label for="id_username" class="control-label  requiredField">Username<span class="asteriskField">*</span> </label>
                <input class="textinput textInput form-control" id="id_username" maxlength="30" name="username" type="text" value='<%=unescape(status.user)%>' required>
                <div class="invalid-feedback">This field is required.</div>
              </div>
              <div id="profile_email" class="form-group">
                <label for="id_email" class="control-label  requiredField">Email<span class="asteriskField">*</span> </label>
                <input class="emailinput form-control" id="id_email" name="email" type="email" title="Please enter an email address" value='<%=unescape(status.email)%>' required>
                <div class="invalid-feedback">Please enter valid email</div>
              </div>
              <div id="profile_password" class="form-group">
                <label for="id_password" class="control-label  requiredField">Current password<span class="asteriskField">*</span> </label>
                <input class="textinput textInput form-control" id="id_password" name="password" type="password">
                <div class="invalid-feedback">This field is required.</div>
              </div>
              <div id="profile_password1" class="form-group">
                <label for="id_password1" class="control-label">New password</label>
                <input class="textinput textInput form-control" id="id_password1" name="password1" type="password">
              </div>
              <div id="password_password2" class="form-group">
                <label for="id_password2" class="control-label">New password (again)</label>
                <input class="textinput textInput form-control" id="id_password2" name="password2" type="password"> 
              </div>
              <p>
                <button class="btn btn-success" id="profile-page-confirm-button">Update</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <% include ../../partials/footer %>
    <script src='/js/profile.js'></script>
  </body>
</html>
