<!DOCTYPE html>
<html lang="en">
    
    <%- include ../../partials/head %>
  <body>

    <%- include ../../partials/header %>

    <%- include ../../partials/alerts %>
    
    <ul class="nav nav-tabs" id="adminTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="coins-tab" data-toggle="tab" href="#coins" role="tab" aria-controls="coins" aria-selected="false">Coins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="last-trades" data-toggle="tab" href="#last_trades" role="tab" aria-controls="last_trades" aria-selected="false">Last Trades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="chat-admin" data-toggle="tab" href="#chat_admin" role="tab" aria-controls="chat_admin" aria-selected="false">Chat admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="check-balance" data-toggle="tab" href="#check_balance" role="tab" aria-controls="check_balance" aria-selected="false">Check Balance</a>
      </li>
    </ul>
    <div class="tab-content p-4" id="adminTabsContent">
      <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
        <form id="id_finduser" class="form-inline">
          <div class="form-group row">
            <label for="inputUser" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-10">
              <input type="text" name='user' class="form-control" id="inputUser" placeholder="*">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Find</button>
        </form>  
        <table class="table m-2" style="table-layout: fixed; word-wrap: break-word;">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th style="width: 30%">
                account
              </th>
              <th style="width: 20%">
                Name
              </th>
              <th>
                email
              </th>
              <th>
                role
              </th>
            </tr>
          </thead>
          <tbody id='table_users'>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
      </div>
      <div class="tab-pane fade" id="coins" role="tabpanel" aria-labelledby="coins-tab">
        <div class='container'>
          <div class='row'>
            <div class='col-md-6'>

              <form id='form-add-coin'>
                <div class="form-group row p-3">
                  <label class="col-auto col-form-label" for="coins-select">Coins</label>
                  <div class="form-group col-md-3">
                    <select class="form-control" id="coins-select">
                    </select>
                  </div>
                  <div class="col-auto">
                    <button id='add_coin' type="submit" class="btn btn-primary">Add coin</button>
                    <button id='del_coin' type="submit" class="btn btn-primary">Delete coin</button>
                  </div>
                </div>
                <div class="form-group row p-3">
                  <div class="col-auto">
                    <table class='table table-hover'>
                      <thead>
                        <tr>
                          <th>Balance</th>
                          <th>Blocked</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody id='table_coin_balance'>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
      
              <form id='form-edit-coin' style="display:none;">
                  <div class="form-group">
                      <label class="col-form-label" for="coin-ticker">Ticker</label>
                      <input class="textinput textInput form-control" id="coin-ticker" maxlength="4" name="ticker" type="text" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-icon">Icon URL</label>
                      <input class="textinput textInput form-control" id="coin-icon" maxlength="1000" name="icon" type="text" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-rpc_address">RPC address</label>
                      <input class="textinput textInput form-control" id="coin-rpc_address" maxlength="1000" name="rpc_address" type="text" placeholder='http://127.0.0.1:33332' required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-rpc_user">RPC user</label>
                      <input class="textinput textInput form-control" id="coin-rpc_user" maxlength="100" name="rpc_user" type="text" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-rpc_password">RPC password</label>
                      <input class="textinput textInput form-control" id="coin-rpc_password" maxlength="1000" name="rpc_password" type="password" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-minconf">Minimal confirmations count</label>
                      <input class="textinput textInput form-control" id="coin-minconf" maxlength="10" name="minconf" type="text" placeholder="3" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-hold">Minimal balance</label>
                      <input class="textinput textInput form-control" id="coin-hold" maxlength="10" name="hold" type="text" placeholder="0.002" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-hold">Coin Page</label>
                      <input class="textinput textInput form-control" id="coin-page" maxlength="1000" name="infopage" type="text" placeholder="http://bitcointalk.org" required>
                  </div>
                  <div class="form-group form-check">
                      <label class="form-check-label">
                        <input id="coin-visible" type="checkbox" class="form-check-input">
                        Coin visible
                      </label>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-info">JSON info</label>
                      <input class="textinput textInput form-control" id="coin-info" maxlength="10000" name="info" type="text" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
              </form>

            </div>
            <div id='rpc-test' class='col-md-6'>
              <h2>RPC test</h2>
              <form id='form-rpc_test'>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-rpc_command">Command</label>
                      <input class="textinput textInput form-control" id="coin-rpc_command" maxlength="50" name="rpc_command" type="text" placeholder='getbalance' value='getbalance' required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label" for="coin-rpc_params">Parameters</label>
                      <input class="textinput textInput form-control" id="coin-rpc_params" maxlength="3000" name="rpc_command" type="text" placeholder='getbalance' value='[]' required>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                  <!--<div class="form-group">
                      <label class="col-form-label" for="coin-daemon-path">Coin daemon startup path/label>
                      <input class="textinput textInput form-control" id="coin-daemon-path" maxlength="50" name="daemon_path" type="text" placeholder='/home/marycoin/marycoind'>
                  </div>
                  <button id="start-daemon" class="btn btn-primary">Start</button>-->
              </form>
              
              <div id='rpc_responce' class="jumbotron my-info">
              </div>              
               
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="last_trades" role="tabpanel" aria-labelledby="last-trades">
        <form id="id_findtrades" class="form-inline">
          <div class="form-group row">
            <label for="inputUser" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-10">
              <input type="text" name='user' class="form-control" id="inputUser" placeholder="*">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Find</button>
        </form>  
        <table class="table m-2">
          <thead>
            <tr>
              <th>
                
              </th>
              <th>
                #
              </th>
              <th>
                buyUserID
              </th>
              <th>
                sellUserID
              </th>
              <th>
                coin
              </th>
              <th>
                fromSellerToBuyer
              </th>
              <th>
                fromBuyerToSeller
              </th>
              <th>
                buyerChange
              </th>
              <th>
                comission
              </th>
              <th>
                time
              </th>
              <th>
                buysell
              </th>
              <th>
                price
              </th>
            </tr>
          </thead>
          <tbody id='table_trades'>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="chat_admin" role="tabpanel" aria-labelledby="chat-admin">
        <form id="id_find_chat_user" class="form-inline">
          <div class="form-group row">
            <label for="inputChatUser" class="col-sm-2 col-form-label">User</label>
            <div class="col-sm-10">
              <input type="text" name='user' class="form-control" id="inputChatUser" placeholder="*">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Find</button>
        </form>  
        <table class="table m-2">
          <thead>
            <tr>
              <th>
                userID
              </th>
              <th>
                Ban Start
              </th>
              <th>
                Ban End
              </th>
              <th>
                Comment
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
          <tbody id='table_ban_users'>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="check_balance" role="tabpanel" aria-labelledby="check-balance">
        <form id="id_finduser_balance" class="form-inline">
          <div class="form-group row">
            <label for="inputUser" class="col-sm-2 col-form-label">UserID</label>
            <div class="col-sm-10">
              <input type="text" name='user' class="form-control" id="inputUser" placeholder="1">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Find</button>
        </form>  
        <table class="table m-2" style="table-layout: fixed; word-wrap: break-word;">
          <thead>
            <tr>
              <th>
                coin
              </th>
              <th>
                balance (b)
              </th>
              <th>
                Deposit (D)
              </th>
              <th>
                Affiliate (A)
              </th>
              <th>
                Withdraw (W)
              </th>
              <th>
                Buy (B)
              </th>
              <th>
                Sell (S)
              </th>
              <th>
                In orders (O)
              </th>
              <th>
                D+B+A-W-S-O
              </th>
              <th>
                D+B+A-W-S-O-b
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody id='table_user_balances'>
          </tbody>
        </table>
      </div>
    </div>



    <%- include ../../partials/footer %>
    <script src='/private_js/admin.js'></script>
  </body>
</html>
