<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <center><h2 class="card-title">OpenTrade Fees</h2></center>
                <h3>Trading Commission</h3>
                <p class="card-text">All trades have a 0.1% commission.</p>
                <hr>
                <h3>Deposit Commission</h3>
                <p class="card-text">All cryptocurrencies have a 0.0% commission.</p>
                <hr>
                <h3>Withdraw Commission</h3>
                <p class="card-text">The commission is appointed by the coin blockchain. To ensure the withdrawal, we will freeze the minimum balance</p>
                <div class="container">
                    <div class='row'>
                        <div class='col-md-6'>
                            <table class='table w-30'>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Coin</th>
                                        <th>Min. balance</th>
                                    </tr>
                                </thead>
                                <tbody id='id_fees'>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div> <!-- /container -->


    <%- include ../partials/footer %>
    <script src='/js/fees.js'></script>
  </body>
</html>
