<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


    <div class="container">
      <% include ../partials/alerts %>
      <input id='id_token' type='hidden' <% var value = ''; try{if (status.token) value = "value='"+status.token+"'"}catch(e){} %> <%- value %>>
      <div class='row'>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Market
            </div>
            <div class="card-body p-0">
              <div id='market-flex' class="d-flex d-flex-market align-items-start bd-highlight mb-0" >
                <div id='market-container' class='container'>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Coin</th>
                        <th scope="col">Price</th>
                        <th scope="col">Vol</th>
                        <th scope="col">Ch</th>
                      </tr>
                    </thead>
                    <tbody id='table-market'>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Chat
            </div>
            <div class="card-body p-0">
              <div id='chat-flex' class="d-flex d-flex-chat align-items-start bd-highlight mb-0" style="height: 300px">
                <div id='chat-container' class='container'>
                </div>
              </div>
              <div class="input-group">
                <input id='chat_message' type="text" class="form-control" >
                <span class="input-group-btn">
                  <button id='button_chat' class="btn btn-secondary" type="button">Submit</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class="col-md-3 p-1">
          <div class="card">
            <div id='header_buy' class="card-header">
              
            </div>
            <div class="card-body p-1">
              <div class="alert alert-secondary p-1" role="alert">
                <div class='container'>
                  <div class='row'>
                    <div class='col-md-6'>
                      <table>
                        <thead>
                          <tr><th>Your balance:</th></tr>
                        </thead>
                        <tbody>
                          <tr><td id='id_buy_balance'></td></tr>
                          <tr><td id='id_buy_coin'></td></tr>
                        </tbody>
                      </table>
                    </div>
                    <div class='col-md-6'>
                      <table>
                        <thead>
                          <tr><th>Highest Ask:</th></tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <form id="form_buy" class="p-3">
                <div class="form-group row">
                  <label for="inputBuyAmount" class="col-md-4 col-form-label form-control-sm">Amount:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="inputBuyAmount" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputBuyPrice" class="col-md-4 col-form-label form-control-sm">Price:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="inputBuyPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputBuyComission" class="col-md-4 col-form-label form-control-sm">Comission:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="inputBuyComission" readonly placeholder="0.0">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputBuyTotal" class="col-md-4 col-form-label form-control-sm">Total:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="inputBuyTotal" readonly placeholder="0.0">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Buy</button>
              </form>
              
            </div>
          </div>          
        </div>
        <div class="col-md-3 p-1">
          <div class="card">
                  <div id='header_sell' class="card-header">
                    
                  </div>
                  <div class="card-body p-1">
                    <div class="alert alert-secondary p-1" role="alert">
                      <div class='container'>
                        <div class='row'>
                          <div class='col-md-6'>
                            <table>
                              <thead>
                                <tr><th>Your balance:</th></tr>
                              </thead>
                              <tbody>
                                <tr><td id='id_sell_balance'></td></tr>
                                <tr><td id='id_sell_coin'></td></tr>
                              </tbody>
                            </table>
                          </div>
                          <div class='col-md-6'>
                            <table>
                              <thead>
                                <tr><th>Highest Bid:</th></tr>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                      <form id="form_sell" class="p-3">
                        <div class="form-group row">
                          <label for="inputSellAmount" class="col-md-4 col-form-label form-control-sm">Amount:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellAmount" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSellPrice" class="col-md-4 col-form-label form-control-sm">Price:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSEllComission" class="col-md-4 col-form-label form-control-sm">Comission:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellComission" readonly placeholder="0.0">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSellTotal" class="col-md-4 col-form-label form-control-sm">Total:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control" id="inputSellTotal" readonly placeholder="0.0">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sell</button>
                      </form>
                  </div>
                </div>          
        </div>
        <div class="col-md-6 p-1">
          <div class="card">
            <div class="card-header">
              Your active orders:
            </div>
            <div class="card-body">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id='id_user_orders'>
                </tbody>
              </table>
            </div>
          </div>          
        </div>
      </div>
      <div class='row'>
        <div class="col-md-3 p-1">
            <div class="card">
              <div class="card-header">
                Buy orders
              </div>
              <div class="card-body div-orders p-0">
                <table class="table table-striped table-sm table-orders">
                  <thead>
                    <tr id='id_buy_orders_header'>
                    </tr>
                  </thead>
                  <tbody id='id_buy_orders_body'>
                  </tbody>
                </table>
              </div>
            </div> 
          </div>
        <div class="col-md-3 p-1">
            <div class="card">
              <div class="card-header">
                Sell orders
              </div>
              <div class="card-body div-orders p-0">
                <table class="table table-striped table-sm table-orders">
                  <thead>
                    <tr id='id_sell_orders_header'>
                    </tr>
                  </thead>
                  <tbody id='id_sell_orders_body'>
                  </tbody>
                </table>
              </div>
            </div>          
          </div>
        <div class="col-md-6 p-1">
            <div class="card">
              <div class="card-header">
                Trade history:
              </div>
              <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text"></p>
              </div>
            </div>          
          </div>
      </div>

    </div> <!-- /container -->


    <% include ../partials/footer %>
    <script src='/js/index.js'></script>
  </body>
</html>
