<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>Coin Listing</h2>
                <p class="card-text">
We only accept bitcoin based altcoins (coins with <a href="https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list">RPC 1.0</a> compatibility).<br>
Cryptonote and Zcash forks and Ethereum tokens are currently not accepted<br><hr><br>

To be listed on ZTrade a coin should satisfy several requirements<br>
<br>
1. Аt least 5 pages with informatible messages on <a href="https://bitcointalk.org">Bitcointalk</a><br>
2. Link on ZTrade should be in the Announce post on the bitcointalk <br>
<br>
<hr><br>
Coins can be delisted if:<br>
* Has few trades during 1.5 week period<br>
* Unstable wallet or unstable blockchain (multiple chains / stopped blocks)<br>
<hr><br>
To list your altcoin please email us at info@exchange.zsmart.org<br><br>
Please include:<br>
1. Coin name (e.g. Bitcoin)<br>
2. Ticker (e.g. BTC)<br>
2. Forum [ANN] thread/discord/telegram group<br>
3. Coin Source<br>
4. Listing option<br><br>
After our team checks your coin, we will contact you with further information.<br>
</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
