<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>Coin Listing</h2>
                <p class="card-text">
We only accept bitcoin based altcoins (coins with <a href="https://en.bitcoin.it/wiki/Original_Bitcoin_client/API_calls_list">RPC 1.0</a> compatibility).<br>
Cryptonote and Zcash forks and Ethereum tokens are currently not accepted<br><hr><br>

To be listed on the OpenTrade a coin should satisfy several requirements<br>
<br>
1. Аt least 10 pages with informatible messages on <a href="https://bitcointalk.org">bitcointalk</a><br>
2. Trading volume should be at least 10000 MC in a month<br>
3. Link on the OpenTrade should be in the Announce post on the bitcointalk <br>
<br>
<hr><br>
Coin can be delisted if:<br>
* Has few trades during 2 weeks period<br>
* Consumes a lot of server resources and can't be fixed<br>
* Unstable wallet or unstable blockchain (multiple chains / stopped blocks)<br>
* Coin which turns to be scam will be delisted instantly<br>
<hr><br>
To list your altcoin please send us message trough support page.<br><br>
Please include:<br>
1. Coin name and ticker<br>
2. Forum ann thread<br>
3. Coin Source<br>
4. Listing option<br><br>
After our team check your coin,we will contact you with further informations.<br>
</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <%- include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
