<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


    <div class="container">
        <h1>Login</h1>

    </div> <!-- /container -->


    <% include ../partials/footer %>
    <script src='/js/login.js'></script>
  </body>
</html>
