pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.api-doc h5 {
  color: #696d73;
  font-style: italic;  
}

.apikeys tr {
  background-color: #ffffff !important;
}

.form_title_volume {
    font-weight: 400;
    color: #8b929b;
    margin-right: 4px;
}

.container {
    max-width: 100%;
}
.d-flex-chat {
  overflow-y:auto;
}
.d-flex-market {
  overflow-x:auto;
  overflow-y:auto;
  height: 420px;
}

.my-info {
  overflow-y:auto;
  overflow-x:auto;
}

.table-orders{
  font-size: 12px;
}
.font_14{
  font-size: 14px;
}

.div-orders {
  overflow-y:auto;
  overflow-x:auto;
  min-height: 400px;
  max-height: 400px;
}

.bd-highlight {
    background-color: rgba(230,230,230,.15);
    border: 1px solid rgba(86,61,124,.15);
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
